{
    "presets": [
        ["env", { 
            "modules": false,
            "targets": {
                "node": "current"
            },
            "debug": true
        }],
        "react",
        "stage-3"
    ],
    "plugins": [
        ["import", { 
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": "true"
        }]
    ]
}
