{
    "presets": [
        ["env", { 
            "modules": false,
            "targets": {
                "node": "current"
            },
            "debug": true
        }],
        "react"
    ]
}
